:root{
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
}

h1{
    font-size: 3.2rem;
    color: #d0004c;
    margin-bottom: 25px;
}

p{
    margin-bottom: 20px;
    font-size: 2rem;
}